<div class="container">

 <%= render "layouts/navigation" %>
 
  <div class="row" id="search">
              <%= form_tag("/welcome/results", method: "get") do %>
                   <div class="col-lg-11 col-xs-12">
                       <div class="input-group input-group-lg">
                        <%= text_field_tag :search,params[:search], :class => "form-control"%>
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
                          </span>
                        </div><!-- /input-group --> 
                   </div>
              <%end%>
           </div>

            <!--BOTTOM BUTTONS-->
            
            <div class="bottom">
                <div class="row" >

                <%= link_to new_user_registration_path(:kind => 'free')  do %>
                <div class="bottom-buttons col-md-6 col-sm-6 col-xs-12">
                    <div class="inner">
                    besplatan portal
                    </div>
                    </div>
                    <% end %>


                <%= link_to new_user_registration_path(:kind => 'premium')  do %><div class="bottom-buttons col-md-6 col-sm-6 col-xs-12">
                    <div class="inner">
                    premijum portal
                    </div>
                    </div>
                    <% end %>


                </div>
            </div>
            
            
       </div>