<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t('.sign_up', :default => "Sign up") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { multipart: true, role: "form" }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :working_hours %>
        <%= f.text_field :working_hours, autofocus: true, class: "form-control" %>
      </div>
       
      <div class="form-group">
        <%= f.fields_for :images, Image.new do |image| %>
          <%= image.label :image %>
          <%= image.file_field :image, autofocus: true, class: "form-control" %>
        <% end %>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-8">
              <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
                <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
              <% end %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control" %>
      </div>
       
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <% if @kind == 'free'%>
          <div class="form-group">
        <%= f.label :role_id %>
        <%= f.hidden_field :role_id, :value => 5, class: "form-control" %>
      </div>
      <% else %>
      <div class="form-group">
        <%= f.label :role_id %>
        <%= f.hidden_field :role_id, :value => 6, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.fields_for :premium_info, PremiumInfo.new do |info| %>
          <%= info.label :description %>
          <%= info.text_field :description, autofocus: true, class: "form-control" %>
          
           <%= info.label :first_name %>
          <%= info.text_field :first_name, autofocus: true, class: "form-control" %>
          
           <%= info.label :last_name %>
          <%= info.text_field :last_name, autofocus: true, class: "form-control" %>
          
          
          
           <%= info.label :personal_phone %>
          <%= info.text_field :personal_phone, autofocus: true, class: "form-control" %>
          
           <%= info.label :personal_email %>
          <%= info.text_field :personal_email, autofocus: true, class: "form-control" %>
          
           <%= info.label :website %>
          <%= info.text_field :website, autofocus: true, class: "form-control" %>
        <% end %>
      </div>
      
     <% end %>
      <%= f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>




